

<ion-view view-title="{{tiqueteDetalle.nombreEvento}}">   
      <ion-content>

         <div>
            <!--<div id="qrcode" style="width:150%; height:150%; margin-top:10%;margin-left:30%"> </div>-->
            <div id="qrcode" ></div>

          </br></br></br></br></br></br></br>
          <h2>{{tiqueteDetalle.nombreEvento}}</h2>
          <p>Fecha :{{tiqueteDetalle.fechaEvento}}</p>
          <p>Ciudad :{{tiqueteDetalle.ciudadEvento}}</p>
          <p>Nombre escenario:{{tiqueteDetalle.nombreEscenario}}</p>
          <p>Cantidad : {{tiqueteDetalle.cantidadBoleta}}</p>
          <p>Estado : {{tiqueteDetalle.estadoEvento}}
        </div>

      </ion-content>
 </ion-view> 

